services:
  php:
    container_name: php
    build:
      context: ./backend
      target: dev
    command: php artisan serve --host=0.0.0.0
    working_dir: /var/www/html/backend
    volumes:
      - ./:/var/www/html
    labels:
      traefik.enable: true
      traefik.http.routers.starter-api.rule: Host(`api.starter.paqt.dev`)
      traefik.http.routers.starter-api.service: starter-api
      traefik.http.services.starter-api.loadbalancer.server.port: 8000

  node:
    container_name: node
    build: ./frontend
    command: pnpm run dev
    working_dir: /app/frontend
    extra_hosts:
    - api.starter.paqt.dev:host-gateway
    environment:
      # Do not verify SSL for paqt.dev
      NODE_TLS_REJECT_UNAUTHORIZED: 0
    volumes:
      - ./:/app
    labels:
      traefik.enable: true
      traefik.http.routers.starter-web.rule: Host(`web.starter.paqt.dev`)
      traefik.http.routers.starter-web.service: starter-web
      traefik.http.services.starter-web.loadbalancer.server.port: 3000
    